.body {
    background-image: url(../../backgrounds/body-bg.png) !important;
    background-color: #000 !important;
    padding: 200px 0 30px 0;
}

@media (max-width: 1180px) {
    .body {
        padding-top: 80px;
    }
}