.mainMenu {
    padding: 0 80px !important;
}

.nav {
    max-width: 745px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav * {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    color: white !important;
    font-size: 16px;
    font-weight: 400;
}

.button {
    width: 183px;
    height: 44px;
    font-size: 16px;
    border: none !important;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px !important;
}

@media (max-width: 1190px) and (min-width: 991px) {
    .nav {
        margin: 0 15px;
    }
}

@media (max-width: 991px) {
    .mainMenu {
        text-align: right;
    }

    * button {
        background-color: #df5950 !important;
    }
}