.button {
    padding: 10px 30px !important;
    font-size: 16px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%) !important;
    border: none !important;
    border-radius: 50px !important;
}