.networks {
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.networks img {
    width: 50px;
    height: 50px;
    padding: 13px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    cursor: pointer;
}