.top {
    width: 100%;
}

.topContent {
    max-width: 461px;
    width: 100%;
}

.fastStart {
    display: flex;
    align-items: center;
    margin: 0 0 51px 0;
}

.fastStart h1 {
    transform: translateY(15px);
    margin: 0 0 0 20px;
}

.text {
    margin: 0;
}