@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0;
    padding: 0;
}

.App * {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.w500 {
    font-weight: 500 !important;
}
.w700 {
    font-weight: 700 !important;
}

.gray {
    opacity: 0.4 !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}