@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0;
    padding: 0;
}

.App * {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.w500 {
    font-weight: 500;
}
.w700 {
    font-weight: 700;
}

.gray {
    opacity: 0.4;
    font-weight: 400;
}

a {
    text-decoration: none;
}