.about {
    max-width: 1301px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.pc {
    max-width: 526px !important;
    width: 100%;
    height: 499px;
    background: url(../../../image/pc-border.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc img {
    transform: translateY(70px);
}

.whatWeDo {
    max-width: 636px !important;
    width: 100%;
}

.whatWeDo h1 {
    margin: 0 0 45px 0;
    font-size: 48px;
}
.whatWeDo p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 1180px) {
    .about {
        display: block;
    }
    
    .pc,
    .whatWeDo {
        max-width: 100%;
        margin: 0 auto;
    }
    .pc {
        margin-bottom: 70px;
    }

    .whatWeDo {
        text-align: center;
    }
}

@media (max-width: 840px) {
    .pc {
        display: none;
    }
}