.progressBar {
    height: 6px !important;
    margin: 7px 0 5px 0;
}
.progressBar div {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.num {
    display: flex;
    justify-content: space-between;
}

.num p {
    margin-bottom: auto;
}